
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: black;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.top .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    text-shadow:2px 2px 8px black;
}
/*====================================================*/
/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;

}
nav ul li a:hover {
    text-decoration: underline;
    color: black;
    background-color: white;
    font-weight:bold;
}

/*====================================================*/
/* Header */
header {
    text-align: center;
    color: black;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}

/*====================================================*/
/* About Section */
#about {
    text-align: center;
    padding: 50px 20px;
    font-size: 18px;
    color: black;
}
h2 {
    font-weight: bold;
    font-size: 2rem;
}
span {
    font-weight: bold;
    font-size: 22spx;
}
#about img {
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

/*====================================================*/
/* Skills Section */
#skills {
    background-color: white;
    padding: 40px 10px;
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background: black;
    color: #fff;
    border-radius: 5px;
}
#skills ul li:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

/*====================================================*/
/* Projects Section */
#projects {
    padding: 15px 20px;
    text-align: center;
}

.projects-container {
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    border: 2px solid #ccc;
    padding: 20px;
    width: 30%;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

.project .btn {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.project .btn:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

/*====================================================*/
/* Contact Section */
#contact {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

form {
    display: inline-block;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form textarea {
    width: 100%;
    text-align: left;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: white;
    color: black;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: #fff;
    margin-top: 50px;
}
